body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  h1,
  h2,
  h3,
  h4 {
    font-weight: 600;
  }
}

a:nth-child(1) {
  text-decoration: none;
}

.strong {
  font-weight: bold;
  font-size: 1.75rem;
}

.article-link {
  font-family: 'Square Peg', cursive;
  @extend .strong;
}
